* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 6rem;

    background-color: #323238   ;
}

nav {
    display: flex;
    justify-content: end;
}

.themeSwitcher2 {
    display: flex;
    position: relative;
    right: 4rem;
    top: .3rem;
}

.main {
    display: flex;
    flex-direction: row;
    place-content: center;

    gap: 15vw;

    margin-top: 18vh;
}

.timer {
    margin-top: 4rem;
}

.buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}

.sounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 3.0rem;
}

.sound-card {
    display: flex;
    flex-direction: column;
    place-content: center;
    

    width: 13.8rem;
    height: 15.2rem;

    padding: 2.4rem;
    gap: 3rem;

    border-radius: 2.4rem;

    background: #29292e;
}
.sound-card:hover {
    background-color: #0a3442;
}

.sound-card:hover + input {
    background-color: white;
}

.sound-card svg {
    width: 4.5rem;
    height: 5.6rem;

    margin-left: 2.2rem;
}

button {
    border: none;
    background: transparent;
}

span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem;
    text-align: center;
    color: #c4c4cc;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #c4c4cc;
    border-radius: 1rem;
    height: .5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #c4c4cc;
}

.buttons svg path {
    fill: #c4c4cc;
}

.sound-card svg path {
    fill: #c4c4cc;
}

/* hovers */
input[type="range"]:hover {
    cursor: pointer;
}

.sound-card:hover input[type="range"] {
    background-color: white;
}

.sound-card:hover input[type="range"]::-webkit-slider-thumb {
    background-color: white;
}

.sound-card:hover svg path {
    fill: white;
}

button:hover {
    cursor: pointer;
}

.play:hover path,
.pause:hover path,
.moreTime:hover path,
.lessTime:hover path,
.themeSwitcher2:hover path {
    fill: white;
}

.hide {
    display: none;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        margin-top: 3vh;
        gap: 5rem;
    }

    .buttons {
        display: flex;
        max-width: 32rem;
        margin-top: 2rem;

        padding-left: .3rem;
    }

    .sounds {
        max-width: 32rem;
    }
}

@media (max-width: 445px) {
    span {
        text-align: center;
        font-size: 9.8rem;
    }
}
